* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#fff;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
.toolbar--material {
    background-color: #4682B4!important;
}
.toolbar--material__center {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif!important;
    font-weight: 500;
    color: #fff!important;
}
.back-button--material__icon {
    fill: #fff!important;
}
.button--material {
    background-color: #4682B4!important;
    color: #fff!important;
}
ons-fab.fab--material{
    background-color: #4682B4!important;
    color: #fff!important;
}
.page--material__background {
    background-color: #fff!important;
}
.tabbar--material__border {
    background-color: #4682B4!important;
}
.alert-dialog-button--material {
    color: #4682B4!important;
}
.alert-dialog-title--material {
    color: #4682B4!important;
}
.modal__content {
    font-size: 30px!important;
}
.escondido {
    visibility: hidden;
}
.visivel {
    visibility: visible;
}